#questions {
	background-color: rgb(255, 181, 159);
	border: 2px solid rgb(247, 76, 46);
}

.parallel {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
}

#tryQuiz {
	margin-top: 0px;
}