#intro {
	background-color: rgb(170, 234, 243);
	border: 2px solid rgb(27, 206, 230);
}

#question {
	color: rgb(114, 113, 113);
}

#definition {
	color: rgb(114, 113, 113); 
	width: 85%;
	margin:auto;
}